assignment3/flows.json
[{"id":"1730ba95.48c815","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7b5410ff.ef336","type":"ibmiot in","z":"1730ba95.48c815","authentication":"apiKey","apiKey":"d9757bf0.ad80e8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12312","applicationId":"","deviceType":"PragatiDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":120,"wires":[["91309b99.dd4968","773b0ee3.9e392","e7f7023f.6207e"]]},{"id":"e7f7023f.6207e","type":"debug","z":"1730ba95.48c815","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":120,"wires":[]},{"id":"91309b99.dd4968","type":"function","z":"1730ba95.48c815","name":"Light Intensity","func":"msg.payload=msg.payload.lightIntensity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":220,"wires":[["e7f7023f.6207e","85980a74.f51318"]]},{"id":"773b0ee3.9e392","type":"function","z":"1730ba95.48c815","name":"Tank Levels","func":"msg.payload = msg.payload.tankLevels\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":260,"wires":[["e7f7023f.6207e","4ea325bf.bac86c"]]},{"id":"85980a74.f51318","type":"ui_chart","z":"1730ba95.48c815","name":"","group":"1c54ac6f.9f7464","order":1,"width":13,"height":7,"label":"Light Intensity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":220,"wires":[[]]},{"id":"4ea325bf.bac86c","type":"ui_chart","z":"1730ba95.48c815","name":"","group":"1c54ac6f.9f7464","order":2,"width":13,"height":7,"label":"Tank Levels","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":260,"wires":[[]]},{"id":"d9757bf0.ad80e8","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1c54ac6f.9f7464","type":"ui_group","name":"Sensor data","tab":"996ff420.0536b8","order":1,"disp":true,"width":26,"collapse":false},{"id":"996ff420.0536b8","type":"ui_tab","name":"Water Tank monitoring system","icon":"dashboard","order":1,"disabled":false,"hidden":false}]