assignment5/flows.json
[{"id":"fcbe5a8d.a57fc8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"c2f84240.854ba","type":"ui_form","z":"fcbe5a8d.a57fc8","name":"","label":"","group":"42cb3c8b.4477e4","order":2,"width":0,"height":0,"options":[{"label":"date","value":"date","type":"date","required":true,"rows":null},{"label":"time","value":"time","type":"time","required":true,"rows":null}],"formValue":{"date":"","time":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":290,"y":300,"wires":[["8f1e5b6f.54f478","18dee0af.37703f"]]},{"id":"8f1e5b6f.54f478","type":"cloudant out","z":"fcbe5a8d.a57fc8","name":"","cloudant":"","database":"sample","service":"node-red-wekbz-2021--cloudant-1627536889226-46668","payonly":false,"operation":"insert","x":530,"y":240,"wires":[]},{"id":"18dee0af.37703f","type":"debug","z":"fcbe5a8d.a57fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":380,"wires":[]},{"id":"42cb3c8b.4477e4","type":"ui_group","name":"Default","tab":"1f4a2bc5.1a9594","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f4a2bc5.1a9594","type":"ui_tab","name":"Form data","icon":"dashboard","disabled":false,"hidden":false}]